* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border-collapse: separate;
}

button {
  cursor: pointer;
}
